<html>
	<head>
		<script>
				function foo()
				{
					var c=document.getElementById('can');
					var xyz=c.toDataURL();
					$.ajax({
						url:'http://127.0.0.1:5000/updateImg',
						method:'GET',
						data:{vy:xyz},
						success:function(response)
						{
						},
						error: function(response)
						{
						},
						});                
				}
		</script>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>Pictionary-Chat: {{ room }}</title>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			var socket;
			$(document).ready(function(){
				socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
				socket.on('connect', function() {
					socket.emit('joined', {});
				});
				socket.on('status', function(data) {
					$('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
					$('#chat').scrollTop($('#chat')[0].scrollHeight);
					setTimeout(remove_message,15000);
				});
				socket.on('message', function(data) {
					$('#chat').val($('#chat').val() + data.msg + '\n');
					$('#chat').scrollTop($('#chat')[0].scrollHeight);
					setTimeout(remove_message,15000);
				});
			});

			function leave_room() {
				socket.emit('left', {}, function() {
					socket.disconnect();

					// go back to the login page
					window.location.href = "{{ url_for('main.index') }}";
				});
			}
		</script>
	</head>

	<script type="text/javascript">

		var co_ords = [];
		var canvas, ctx, flag = false,
			prevX = 0,
			currX = 0,
			prevY = 0,
			currY = 0,
			dot_flag = false;
	
		var x = "black",
			y = 2;
		
		function init() {
			canvas = document.getElementById('can');
			ctx = canvas.getContext("2d");
			w = canvas.width;
			h = canvas.height;
		
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);
		}
		
		function color(obj) {
			switch (obj.id) {
				case "green":
					x = "green";
					break;
				case "blue":
					x = "blue";
					break;
				case "red":
					x = "red";
					break;
				case "yellow":
					x = "yellow";
					break;
				case "orange":
					x = "orange";
					break;
				case "black":
					x = "black";
					break;
				case "white":
					x = "white";
					break;
			}
			if (x == "white") y = 14;
			else y = 2;
		
		}
		
		function draw() {
			ctx.beginPath();
			ctx.moveTo(prevX, prevY);
			ctx.lineTo(currX, currY);
			ctx.strokeStyle = x;
			ctx.lineWidth = y;
			ctx.stroke();
			ctx.closePath();
		}
		
		function erase() {
			var m = confirm("Want to clear");
			if (m) {
				ctx.clearRect(0, 0, w, h);
				document.getElementById("canvasimg").style.display = "none";
			}
		}
		
		function save() {
			document.getElementById("canvasimg").style.border = "2px solid";
			var dataURL = canvas.toDataURL();
			document.getElementById("canvasimg").src = dataURL;
			document.getElementById("canvasimg").style.display = "inline";
		}
		function to_string_func(co_ords)
		{
			ans = ''
			for(var i=0;i<co_ords.length;i++)
			{
				ans += co_ords[i].join(',')+'\r\n';
			}
			return ans;
		}
		function save_coord()
		{
			$.ajax({
						url:'http://127.0.0.1:5000/savecoord',
						method:'GET',
						data:{point:to_string_func(co_ords)},
						success:function(response)
						{
						},
						error: function(response)
						{
						},
						});
		}
		setInterval(save_coord,5000);
		function findxy(res, e) {
			if (res == 'down') {
				prevX = currX;
				prevY = currY;
				currX = e.clientX - canvas.offsetLeft;
				currY = e.clientY - canvas.offsetTop;
		
				flag = true;
				dot_flag = true;
				if (dot_flag) {
					ctx.beginPath();
					ctx.fillStyle = x;
					ctx.fillRect(currX, currY, 2, 2);
					ctx.closePath();
					dot_flag = false;
					temp = [e.clientX - canvas.offsetLeft , e.clientY - canvas.offsetTop];
					co_ords.push(temp);
				}
			}
			if (res == 'up' || res == "out") {
				flag = false;
			}
			if (res == 'move') {
				if (flag) {
					prevX = currX;
					prevY = currY;
					currX = e.clientX - canvas.offsetLeft;
					currY = e.clientY - canvas.offsetTop;
					draw();
					temp = [e.clientX - canvas.offsetLeft , e.clientY - canvas.offsetTop];
					co_ords.push(temp);
				}
			}
		}
		function remove_message()
		{
			var old_message = String(document.getElementById("chat").value);
			old_message = old_message.split('\n');
			old_message.shift();
			old_message.pop();
			var i;
			var new_message = ''
			for (i = 0; i < old_message.length; i++) {
			new_message += old_message[i] + "\n";
			}
			document.getElementById("chat").value = new_message;
		}
		
		</script>

	<body onload="init()">
		<script>
		setInterval(function(){foo()},1000);
		</script>
		<h1>ROOM {{ room }} Role: {{role}}</h1>
		<h1>WORD: {{word}}</h1>
		<div id="canvasDiv"></div>
		<!-- <script type="text/javascript" src="../static/html5-canvas-drawing-app.js"></script>
		<script type="text/javascript">
			 drawingApp.init();
		</script> -->
			<canvas id="can" width="600" height="400" style="position:absolute;top:15%;left:10%;border:2px solid;"></canvas>
			<div style="position:absolute;top:17%;left:43%;">Choose Color</div>
			<div style="position:absolute;top:20%;left:45%;width:10px;height:10px;background:green;" id="green" onclick="color(this)"></div>
			<div style="position:absolute;top:20%;left:46%;width:10px;height:10px;background:blue;" id="blue" onclick="color(this)"></div>
			<div style="position:absolute;top:20%;left:47%;width:10px;height:10px;background:red;" id="red" onclick="color(this)"></div>
			<div style="position:absolute;top:22%;left:45%;width:10px;height:10px;background:yellow;" id="yellow" onclick="color(this)"></div>
			<div style="position:absolute;top:22%;left:46%;width:10px;height:10px;background:orange;" id="orange" onclick="color(this)"></div>
			<div style="position:absolute;top:22%;left:47%;width:10px;height:10px;background:black;" id="black" onclick="color(this)"></div>
			<div style="position:absolute;top:25%;left:43%;">Eraser</div>
			<div style="position:absolute;top:28%;left:45%;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
			<img id="canvasimg" style="position:absolute;top:15%;left:52%;" style="display:none;">
			<input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:62%;left:22%;">
			<div style="position:absolute;top:70%;left:10%;"><textarea id="chat" cols="80" rows="20"></textarea><br><br>
			<a href="#" onclick="leave_room();" >Leave this room</a></div>
		</body>
</html>
