<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Create HTML5 Canvas JavaScript Drawing App Example</title>
  </head>
  <body>
    <div id="canvasDiv"></div>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="html5-canvas-drawing-app.js" onload="foo()"></script>
    <script type="text/javascript">
    function foo()
    {
      drawingApp.init();
    }
	</script>
  </body>
</html>