<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<style>
			body {font-family: Arial, Helvetica, sans-serif;}
			* {
				box-sizing: border-box;
			}

			@font-face{
				font-family:'digital-clock-font';
				src: url('../static/fonts/digital-7.ttf');
			}
			/*[class*="col-"] {
				float: left;
				padding: 15px;
				border-radius: 15px;
				}*/
			.row::after {
				content: "";
				clear: both;
				display: table;
			}
			.canvas_css{
				border-style: solid;
				border-color: teal;
				border-radius: 2px;
				padding-top: 15px;
				background-color:white;
			}
			.canvas_css:hover{
				cursor:crosshair;
			}

			.word {
				font-family: 'EB Garamond', sans-serif;
				text-align: center;
				font-size: 4rem;
			}

			.buttons-drawer {
				width: 45.5%;
			}		

			.buttons > .lbutton:hover {
				width: 27% !important;
			}
		</style>
		<script>
				function foo()
				{
					var c=document.getElementById('can');
					var xyz=c.toDataURL();
					$.ajax({
						url:'http://127.0.0.1:5000/updateImg',
						method:'GET',
						data:{vy:xyz},
						success:function(response)
						{
						},
						error: function(response)
						{
						},
						});                
				}

		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
		<link href="static/styling.css" type="text/css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=EB+Garamond|Lato:300,400|Merriweather" rel="stylesheet">
		<link rel="icon" href="../static/images/pencil.ico" type="image/x-icon"/>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>Pictionary-Chat: {{ room }}</title>
		<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="static/timer.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			colors = ['#d752ef', '#da1602', '#6f6a23' , '#3f522e' , '#6d0622', '#303269'];

			var socket;
			$(document).ready(function(){
				socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
				socket.on('connect', function() {
					socket.emit('joined', {});
				});
				socket.on('status', function(data) {
					var colour = colors[Math.floor(Math.random()*colors.length)];
					$('#chat').append(`<p class="c-msg" style="color:${colour}"> ${data.msg}</p>`);
					$('#chat').scrollTop($('#chat')[0].scrollHeight);
					//setTimeout(remove_message,15000);
				});
				socket.on('message', function(data) {
					var colour = colors[Math.floor(Math.random()*colors.length)];
					$('#chat').append(`<p class="c-msg" style="color:${colour}"> ${data.msg} </p>`);
					$('#chat').scrollTop($('#chat')[0].scrollHeight);
					//setTimeout(remove_message,15000);
				});

				socket.on('correct_guess', function(data) {
					document.getElementsByClassName('tm-out')[0].innerHTML = data.msg;
					document.getElementById('modal2').style.display = 'block';
					clearTimer();
				});
			});

			function leave_room() {
				socket.emit('left', {}, function() {
					socket.disconnect();

					// go back to the login page
					window.location.href = "{{ url_for('main.index') }}";
				});
			}
		</script>

	<script type="text/javascript">

		var pen_co_ords = [];
		var eraser_co_ords = [];
		var canvas, ctx, flag = false,
			prevX = 0,
			currX = 0,
			prevY = 0,
			currY = 0,
			dot_flag = false;
	
		var x = "black",
			y = 2;
		
		function init() {
			canvas = document.getElementById('can');
			ctx = canvas.getContext("2d");
			w = canvas.width;
			h = canvas.height;
		
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);
		}
		
		function color(obj) {
			switch (obj.id) {
				case "green":
					x = "green";
					break;
				case "blue":
					x = "blue";
					break;
				case "red":
					x = "red";
					break;
				case "yellow":
					x = "yellow";
					break;
				case "orange":
					x = "orange";
					break;
				case "black":
					x = "black";
					break;
				case "white":
					x = "white";
					break;
			}
			if (x == "white") y = 14;
			else y = 2;
		
		}
		
		function draw() {
			ctx.beginPath();
			ctx.moveTo(prevX, prevY);
			ctx.lineTo(currX, currY);
			ctx.strokeStyle = x;
			ctx.lineWidth = y;
			ctx.stroke();
			ctx.closePath();
		}
		
		function erase() {
			var m = confirm("Want to clear");
			if (m) {
				ctx.clearRect(0, 0, w, h);
				document.getElementById("canvasimg").style.display = "none";
			}
		}
		
		function save() {
			document.getElementById("canvasimg").style.border = "2px solid";
			var dataURL = canvas.toDataURL();
			document.getElementById("canvasimg").src = dataURL;
			document.getElementById("canvasimg").style.display = "inline";
		}
		function to_string_func(co_ords)
		{
			ans = ''
			for(var i=0;i<co_ords.length;i++)
			{
				ans += co_ords[i].join(',')+'\r\n';
			}
			return ans;
		}
		function save_coord()
		{
			$.ajax({
						url:'http://127.0.0.1:5000/savecoord',
						method:'GET',
						data:{pen:to_string_func(pen_co_ords),eraser:to_string_func(eraser_co_ords)},
						success:function(response)
						{
						},
						error: function(response)
						{
						},
						});
		}
		setInterval(save_coord,5000);
		function findxy(res, e) {
			if (res == 'down') {
				prevX = currX;
				prevY = currY;
				currX = e.clientX - canvas.offsetLeft;
				currY = e.clientY - canvas.offsetTop;
		
				flag = true;
				dot_flag = true;
				if (dot_flag) {
					ctx.beginPath();
					ctx.fillStyle = x;
					ctx.fillRect(currX, currY, 2, 2);
					ctx.closePath();
					dot_flag = false;
					temp = [e.clientX - canvas.offsetLeft , e.clientY - canvas.offsetTop];
					if(x=="white")
					{
						eraser_co_ords.push(temp);
					}
					else
					{
						pen_co_ords.push(temp);
					}
				}
			}
			if (res == 'up' || res == "out") {
				flag = false;
			}
			if (res == 'move') {
				if (flag) {
					prevX = currX;
					prevY = currY;
					currX = e.clientX - canvas.offsetLeft;
					currY = e.clientY - canvas.offsetTop;
					draw();
					temp = [e.clientX - canvas.offsetLeft , e.clientY - canvas.offsetTop];
					if(x=="white")
					{
						eraser_co_ords.push(temp);
					}
					else
					{
						pen_co_ords.push(temp);
					}
				}
			}
		}
		function remove_message()
		{
			var old_message = String(document.getElementById("chat").value);
			var first_message = document.getElementById("chat").firstChild;
			document.getElementById("chat").removeChild(first_message);
		}

		window.onclick = function(event) {
			var modal = document.getElementById('modal');
			if(event.target == modal) {
				modal.style.display = 'none';
				start_timer();
			}
		}

		function show_modal() { 
			var md2 = document.getElementById('modal2');
			md2.style.display = 'block';
		}

		function correct_guess() {
			socket.emit('correctGuess', { 'time' : guessTime });
		}

		function playViewer() {
			var butts = document.getElementsByClassName('butts')[0];
			var msg_exit = document.getElementsByClassName('msg-exit')[0];

			console.log(butts);
			console.log(msg_exit.childNodes);
			msg_exit.childNodes[1].style.fontSize = '2rem';
			msg_exit.childNodes[1].style.padding = '2vh 3vw';
			msg_exit.childNodes[1].innerHTML = `
				Instructions to play as viewer : <br />
				<ul>
					<li>Leave the room</li>
					<li>Join the same room, using the current room ID</li>
				</ul>
			`;
			document.getElementsByClassName('butt-2')[0].style.display = 'none';
			document.getElementsByClassName('butt-3')[0].style.display = 'none';
		}
		
		</script>
		</head>
	<body onload="init()">
		<script>
		setInterval(function(){foo()},1000);
		</script>
	<div id="modal">
		<div class="msg-m">
			Welcome!
		</div>
	</div>
	<div id="modal2" style="display: none;">
		<div class="msg-m msg-exit">
			<div class="tm-out">
				Oops! Your session timed out. 
				What would you like to do ?
			</div>
			<div class="butts">
				<button class="butt butt-1" onclick="leave_room();">
					<i class="fa fa-sign-out-alt" ></i>
					Leave Room
				</button>
				<button class="butt butt-2" onclick="location.reload();">
						<i class="fas fa-pen" ></i>
						Play as drawer
				</button>
				<button class="butt butt-3" onclick="playViewer();">
						<i class="far fa-eye"></i>
						Play as viewer
				</button>
			</div>
		</div>
	</div>
		<div class="header row">
			<div class="avatar-space">
				<img src="/static/get_myavatar" class="avatar" >
				<h3>{{name}}</h3>
			</div>
			<div class = "game-header">
				<div><h1 class = "game">Pictionary</h1></div>
				<h1 class = "room-id">Room ID : {{ room }} </h1>
				<h1 class = "role"> Role : <span>{{role}}</span></h1>
				<h1 class = "word">Word to be drawn : <span id="g-word">{{word}}</span></h1>
			</div>
			<div class="clock">
				<div class="timer">
					<span class="mins"></span> :
					<span class="secs"></span>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="board">
				<div class = "tools">
					<img src="https://img.icons8.com/dusk/48/000000/marker-pen.png" id="black" onclick="color(this)" alt="pen">
					<span class="info-tip info-p">Pen</span>
					<img src="https://i.ibb.co/cF7rmYz/eraser-48-289599.png" alt="eraser" border="0" id="white" onclick="color(this)">
					<span class="info-tip info-e">Eraser</span>
					<img src="https://img.icons8.com/ultraviolet/40/000000/marker-pen.png" alt="highlighter" id="grey">
					<span class="info-tip info-h">Highlighter</span>
				</div>
				<div class="drawing-board" style="text-align:center;">
					<canvas id="can" width="800" height="600" class="canvas_css"></canvas>
					
				</div>
				<div class="chat-area">
					<div id="chat"></div>
				</div>
				<div class="tick-b">
					<i onclick="correct_guess();" class="fas fa-check"></i>
					<span class="guess">Has the word been guessed?</span>
				</div>
			</div>
			<div class="buttons buttons-drawer">
				<button  class="obutton lbutton"  onclick="leave_room()">
					<i class="fas fa-sign-out-alt"></i>
					<div class="message lr">
					  Leave room
					</div>
				  </button>	
			</div>		
		</div>
	</body>
</html>




<!-- <canvas id="can" width="1400" height="400" style="position:absolute;top:15%;left:10%;border:2px solid;"></canvas> -->
<!-- <div style="position:absolute;top:19%;left:85%;">Pen</div> -->
<!-- <div style="position:absolute;top:20%;left:45%;width:10px;height:10px;background:green;" id="green" onclick="color(this)"></div>
<div style="position:absolute;top:20%;left:46%;width:10px;height:10px;background:blue;" id="blue" onclick="color(this)"></div>
<div style="position:absolute;top:20%;left:47%;width:10px;height:10px;background:red;" id="red" onclick="color(this)"></div>
<div style="position:absolute;top:22%;left:45%;width:10px;height:10px;background:yellow;" id="yellow" onclick="color(this)"></div>
<div style="position:absolute;top:22%;left:46%;width:10px;height:10px;background:orange;" id="orange" onclick="color(this)"></div> -->
<!-- <div style="position:absolute;top:22%;left:87%;width:15px;height:15px;background:black;" id="black" onclick="color(this)"></div> -->
<!-- <div style="position:absolute;top:25%;left:85%;">Eraser</div> -->
<!-- <div style="position:absolute;top:28%;left:87%;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div> -->
<!-- <img id="canvasimg" style="position:absolute;top:15%;left:52%;" style="display:none;"> -->
<!-- <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:62%;left:22%;"> -->
<!-- <div style="position:absolute;top:65%;left:10%;"><textarea id="chat" cols="200" rows="15"></textarea><br><br> -->
<!-- <a href="#" onclick="leave_room();" >Leave this room</a></div> -->




